{{#if logged_in}}
<a>YOU ARE LOGGED IN</a>
{{/if}}
<div id="events-container"></div>
<button id="next">Next Page</button>
<button id="previous">Previous Page</button>
<script src="/js/fetch.js"></script>