<div class='flex justify-center'>
  <div class='col-md-6'>
    <h2 class='text-3xl font-bold'>Login:</h2>

    <form class='form login-form'>
      <div class='form-group'>
        <label class='text-3xl font-light' for='email-login'>email:</label>
        <input class='form-input' type='text' id='email-login' />
      </div>
      <div class='form-group'>
        <label
          class='text-3xl font-light'
          for='password-login'
        >password:</label>
        <input class='form-input' type='password' id='password-login' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>login</button>
        <a class="ml-10 font-light" href="/signup">Don't have an account? Signup here</a></br>
        <div class="flex justify-center">
          <hr class="color-white">
                <button onclick="window.location.href='/events'" class='btn btn-primary mt-4 font-bold' type='submit'>Continue without logging in
                </button>
                </div>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>