<div class='row' id='main'>
  <div class='col-md-6'>
    <h2 class='text-3xl font-bold'>Login:</h2>

    <form class='form login-form'>
      <div class='form-group'>
        <label class='text-3xl font-light' for='email-login'>email:</label>
        <input class='form-input' type='text' id='email-login' />
      </div>
      <div class='form-group'>
        <label
          class='text-3xl font-light'
          for='password-login'
        >password:</label>
        <input class='form-input' type='password' id='password-login' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>login</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>