<div class="flex justify-center">
<div class="col-md-6">
    <h2 class="text-3xl font-bold">Signup:</h2>
<div class="font-light">
    <form class="form signup-form">
      <div class="form-group">
        <label class=" text-3xl" for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label class="text-3xl" for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label class="text-3xl" for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
        <a class="ml-10" href="/">Already have an account? Login here</a>
      </div>
    </form>
  </div>
  </div>
  </div>
  <script src="./js/signup.js"></script>